Repository hulthe/strecklistan, pull requests merged in 2021-06, with the labels that each got.

#64 Disable "Slutför köp" when cart is empty
  frontend/src/components/checkout.rs
  frontend/static/styles.css
Labels: enhancement, frontend/ui, frontend/ux

#65 Fix transaction filtering select tag
  frontend/src/components/filter_menu.rs
  frontend/src/components/mod.rs
  frontend/src/components/select.rs
Labels: bug, frontend/ux

#66 No longer permanently deletes transactions on delete transaction
  backend/migrations/2021-06-03-184017_add_transaction_deleted_at/down.sql
  backend/migrations/2021-06-03-184017_add_transaction_deleted_at/up.sql
  backend/src/models/transaction.rs
  backend/src/routes/rest/book_account.rs
  backend/src/routes/rest/izettle/izettle_bridge_result.rs
  backend/src/routes/rest/transaction.rs
  backend/src/schema/tables.rs
Labels: backend, enhancement
