Repository hulthe/strecklistan, pull requests merged in 2021-02, with the labels that each got.

#50 tillgodo list becomes angry when member has negative saldo
  common/src/models/currency.rs
  frontend/src/views/tillgodolista.rs
  frontend/static/styles.css
Labels: enhancement, frontend/ui

#51 fixed readability of placeholder text in searchfield
  frontend/static/styles.css
Labels: bug, frontend/ui

#52 lower sorting priority of out of stock items
  frontend/src/page/store.rs
Labels: enhancement, frontend/ux

#49 Add support for iZettle through StreckBryggan
  .dockerignore
  Cargo.lock
  Dockerfile
  README.rst
  backend/Cargo.toml
  backend/Insomnia_2020-10-01.json
  backend/README.rst
  backend/example.env
  backend/migrations/2020-09-26-014924_add_pending_transaction_table/down.sql
  backend/migrations/2020-09-26-014924_add_pending_transaction_table/up.sql
  backend/migrations/2020-10-24-144349_extend_izettle_post_transaction/down.sql
  backend/migrations/2020-10-24-144349_extend_izettle_post_transaction/up.sql
  backend/src/index.html
  backend/src/main.rs
  backend/src/models/book_account.rs
  backend/src/models/izettle_transaction.rs
  backend/src/models/mod.rs
  backend/src/routes/index.rs
  backend/src/routes/mod.rs
  backend/src/routes/rest/book_account.rs
  backend/src/routes/rest/inventory.rs
  backend/src/routes/rest/izettle/izettle_bridge_poll.rs
  backend/src/routes/rest/izettle/izettle_bridge_result.rs
  backend/src/routes/rest/izettle/izettle_transaction.rs
  backend/src/routes/rest/izettle/izettle_transaction_poll.rs
  backend/src/routes/rest/izettle/mod.rs
  backend/src/routes/rest/member.rs
  backend/src/routes/rest/mod.rs
  backend/src/routes/rest/transaction.rs
  backend/src/routes/session.rs
  backend/src/schema/tables.rs
  backend/src/util/status_json.rs
  backend/www/pkg
  backend/www/static
  common/Cargo.toml
  common/src/models/currency.rs
  common/src/models/izettle.rs
  common/src/models/mod.rs
  dev.nginx.conf
  docker-compose.yml
  frontend/Cargo.toml
  frontend/Dockerfile
  frontend/README.md
  frontend/prod.nginx.conf
  frontend/src/app.rs
  frontend/src/components/checkout.rs
  frontend/src/components/izettle_pay.rs
  frontend/src/components/mod.rs
  frontend/src/components/parsed_input.rs
  frontend/src/generated/css_classes.rs
  frontend/src/lib.rs
  frontend/src/notification_manager.rs
  frontend/src/page/deposit.rs
  frontend/src/page/store.rs
  frontend/src/strings.rs
  frontend/src/views/mod.rs
  frontend/src/views/transaction.rs
  frontend/static/notifications.css
  frontend/static/styles.css
Labels: backend, enhancement, frontend/ui, frontend/ux
